<!--Modal to propmt a username-->
<div class="username-modal">
    <div class="modal-header">
        <!--Message to users to add name-->
        <h4 class="modal-title">Oops! You need to add a user name to use BinChat.</h4>
    </div>
    <form class="modal-body">
        <p>User Name:</p>
        <!--adds and stores a user name to cookieStore array and newUserName model-->
        <input type="text" placeholder="Create User Name..." name="username" ng-model="newUserName"/>
    </form>
    <div class="modal-footer">
        <ul>
            <li><!--adds and stores a user name to cookieStore array-->
                <button class="btn" type="submit" ng-click="userName.add(newUserName)">Add</button>
            </li>
            <li><!--removes a user name to cookieStore array-->
                <button class="btn" type="submit" ng-click="userName.remove(newUserName)">Delete</button>
            </li>
            <li><!--dismisses request results in no change to cookieStore array-->
                <button class="btn" type="button" ng-click="userName.cancel()">Cancel</button>
            </li>
        </ul>
    </div>
</div>